<div class="flex items-center gap-4 bg-gray-900/80 p-3 rounded-lg border-l-4 transition-all duration-300 ease-in-out cursor-pointer"
  [ngClass]="{
    'border-teal-500': product.verdict === 'good',
    'border-purple-500': product.verdict === 'bad'
  }"
  (click)="onViewDetails()">
  <img [src]="product.image" alt="{{product.name}}" class="w-12 h-12 object-cover rounded-md border border-gray-700">
  <div class="flex-grow flex flex-col">
    <span class="text-gray-100 font-medium">{{ product.name }}</span>
    <span class="text-gray-400 text-sm">{{ product.brand }}</span>
  </div>
  <div class="text-purple-400 font-bold text-sm">
    {{ product.calories || 'N/A' }} kcal
  </div>
  <button (click)="onRemove(); $event.stopPropagation()" class="bg-gray-800 text-gray-400 w-8 h-8 rounded-full flex items-center justify-center hover:bg-red-600 hover:text-white transition-all duration-300" title="Remove from Diary">
    <lucide-icon name="x" [size]="18"></lucide-icon>
  </button>
</div>