<div class="list-item" [class.purchased]="item.purchased" (click)="onViewDetails()"> <!-- Bind click event here -->
  <div class="checkbox-container" (click)="onToggle(); $event.stopPropagation()"> <!-- Stop propagation to prevent parent click -->
    <div class="custom-checkbox">
      <lucide-icon *ngIf="item.purchased" name="check" [size]="18"></lucide-icon>
    </div>
  </div>
  <img [src]="item.image_url" alt="{{item.product_name}}" class="product-image">
  <div class="item-info">
    <span class="product-name">{{ item.product_name }}</span>
    <span class="product-brand">{{ item.brand }}</span>
  </div>
  <button (click)="onRemove(); $event.stopPropagation()" class="remove-btn" title="Remove from List"> <!-- Stop propagation -->
    <lucide-icon name="x" [size]="18"></lucide-icon>
  </button>
</div>