<div class="flex items-center gap-4 bg-gray-900/80 p-3 rounded-lg border-l-4 transition-all duration-300 ease-in-out cursor-pointer"
  [ngClass]="{
    'border-purple-500': !item.purchased,
    'border-teal-500 opacity-60': item.purchased
  }"
  (click)="onViewDetails()">
  <div class="flex items-center" (click)="onToggle(); $event.stopPropagation()">
    <div class="w-6 h-6 rounded-md border-2 flex items-center justify-center transition-all duration-300"
      [ngClass]="{
        'border-purple-500 text-transparent': !item.purchased,
        'bg-purple-500 border-purple-500 text-gray-900': item.purchased
      }">
      <lucide-icon *ngIf="item.purchased" name="check" [size]="18"></lucide-icon>
    </div>
  </div>
  <img [src]="item.image_url" alt="{{item.product_name}}" class="w-12 h-12 object-cover rounded-md border border-gray-700">
  <div class="flex-grow flex flex-col">
    <span class="font-medium text-gray-100" [ngClass]="{'line-through text-gray-400': item.purchased}">{{ item.product_name }}</span>
    <span class="text-sm text-gray-400">{{ item.brand }}</span>
  </div>
  <button (click)="onRemove(); $event.stopPropagation()" class="bg-gray-800 text-gray-400 w-8 h-8 rounded-full flex items-center justify-center hover:bg-red-600 hover:text-white transition-all duration-300" title="Remove from List">
    <lucide-icon name="x" [size]="18"></lucide-icon>
  </button>
</div>