/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1a1a2e; /* Dark blue/purple background */
  color: #e0e0e0;
  font-family: 'Inter', sans-serif;
}